SECRET_KEY='django-insecure-aqgk-hw=#2or9_b)mo%ewsx^jh#)$(v8pzo7cos75tdiu#c8#0'
DEBUG=True

# SMTP connection
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=diordev9@gmail.com
EMAIL_HOST_PASSWORD=ojntozduvyrtcbxt
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Django Engine
#DB_ENGINE=django.db.backends.postgresql

# Postgres
#POSTGRES_DB=diordev_db
#POSTGRES_USER=admin
#POSTGRES_PASSWORD=Devdior007
#POSTGRES_HOST=localhost
#POSTGRES_PORT=5432